
.main-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: bisque; 
}

.timer-container {
    background-color: white; 
    padding: 20px 30px; 
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

h2 {
    font-size: 24px; 
    color: #333; 
    margin: 0; 
}
